.pickerContainer {
  z-index: 1000;
  background-color: white;
}

.daysContainer {
  display: flex;
  width: 210px;
  flex-direction: row;
  flex-wrap: wrap;
}

.dayCellHeading {
  width: 30px;
  text-align: center;
  border: 1px solid darkgray;
  color: black;
  background-color: rgb(16, 151, 28);
}

.dayCellCurrent {
  width: 30px;
  text-align: center;
  border: 1px solid darkgray;
  color: black;
  background-color: rgb(107, 194, 95);
  cursor: pointer;
}

.dayCellNonCurrent {
  width: 30px;
  text-align: center;
  border: 1px solid darkgray;
  color: gray;
  background-color: rgb(167, 209, 181);
  cursor: pointer;
}

.dayCellSelected {
  width: 30px;
  text-align: center;
  border: 1px solid darkgray;
  color: white;
  background-color: rgb(26, 23, 180);
  cursor: pointer;
}

.monthHeading {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(3, 121, 13);
  color: white;
  height: 32px;
}

.pickerNavButton {
  width: 44px;
  text-align: center;
  background-color: rgb(3, 121, 13);
  color: white;
  border: none;
}

.pickerMonthHeading {
  display: flex;
  flex-direction: row;
  height: 35px;
  border: darkgray 1px solid;
  align-items: center;
}

.picker-container-open {
  position: absolute;
  display: block;
  z-index: 1000;
  margin-top: -220px;
}

.picker-container-close {
  display: none;
}
